body {
  font-family: "Audiowide", sans-serif;
  color: #444444;
}

a:link{
	text-decoration: none;
}

a:hover {
  text-decoration: none;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

#header .logo h1 {
  font-size: 26px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-left: 8px solid #e96b56;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #545454;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  margin-left: auto;
  margin-right: auto; /* Centre le block horizontalement */
 }

.section-title {
  text-align: center;
  padding-bottom: 30px;
}


/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/


div .container
{
  margin-left: 5%;
  margin-right: 5%;
}

.jigsaw
{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.bouton {
  text-align: center;
}

.bouton a {
	display: inline-block;
	width: 150px;
	height: 180px;
	text-align: center;
	vertical-align: middle;
	background-image: url('vonkoch.PNG');
	background-repeat: no-repeat;
	color: black;
	font-weight: bold;
}

.bouton a:hover {
	background-image: url('vonkochduff.PNG');
	background-repeat: no-repeat;
	transform: rotate(180deg);
}




/*--------------------------------------------------------------
# End style css
--------------------------------------------------------------*/
