body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.flashcard {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}

.flashcard:hover {
  transform: scale(1.05);
}

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  line-height: 1.6;
  backface-visibility: hidden;
}

.front {
  background-color: #3498db;
  color: #fff;
}

.back {
  background-color: #2ecc71;
  color: #fff;
  transform: rotateY(180deg);
}
