*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
#home{
    background-image: url("../img/background-black.jpg");
}
nav{
    background-color: transparent;
    height: 100px;
}
nav img{
    width: 150px;
}
form{
    background-color: rgba(0, 0, 0, .75);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}
input{
    padding: 16px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px ;
    background-color: #333;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
    opacity: .8;
    outline: none;
}

    opacity: 1;
    background-color: rgb(34, 34, 34);
}

label{
    color: #fff;
    margin-left: 10px;
}
p{
    color: #737373;
}
a{
    color: #fff;
}
.content{ 
    margin: 0 10%;
    margin-top: 150px;
}
.row{
    display: flex;
    justify-content: center;
}

#profil-page{
    background-color: #141414;
}
h1{
    text-decoration: underline;
    border: gray outset;
    border-radius: 50px;
    background-color:red;
    box-shadow: 6px 6px 6px black;
    color: #fff;
    font-size: 3em;
}

.profil:hover img{
    border: 2px solid #fff;
}
.profil:hover p{
    color: #fff;
}
a{
    text-decoration: none;
}

.space-between{
    justify-content: space-between;
}
nav{
    background-color: black;
    
}
ul{
    
    color: white
}
header{
    text-align: center;
    background-color: black;
    
}
h2{
    text-align: center;
    background-color: white;
    border: gray outset;
    box-shadow: 6px 6px 6px black;
    color: black

}
h3{
    text-decoration: underline;
    border: gray outset;
    border-radius: 50px;
    background-color:#737373;
    box-shadow: 6px 6px 6px black;
    color: white
    
}
p{
    text-align: center;
    background-color: white;
    border: gray outset;
    box-shadow: 6px 6px 6px black;
    color: black
    
}
.accueil-button{
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Pacifico',cursive;
    border-bottom: 5px solid #720909;
    text-shadow: #720909;
    transition: all .1s;
    -webkit-transition: all .1s;
    float: right;
    
}

.accueil-button:active{
    transform: translate(0,5px);
    border-bottom: 1px solid;
}

.suivant-button{
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Pacifico',cursive;
    border-bottom: 5px solid #720909;
    text-shadow: #720909;
    transition: all .1s;
    -webkit-transition: all .1s;
    float: right;
    
}

.suivant-button:active{
    transform: translate(0,5px);
    border-bottom: 1px solid;
}