/* bloc qui contient la liste et eduscol */
.blocProgramme{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 40px;
}

/* liste à gauche */
.liste{
    width: 60%;
    font-family:Arial, Helvetica, sans-serif ;
    
    line-height: 1 ;
    color:rgb(35, 35, 35); 
    font-size: 30px ;
}
ul {
    list-style-type: none;
    color: black;
}

/* bloc eduscol à droite */
.eduscol{
    width: 30%;
    text-align: center;
}

/* image eduscol */
.eduscol img{
    width: 200px;
    height: auto;
    margin-top: 10px;
    transition: 0.3s;
}

/* effet au survol */
.eduscol img:hover{
    transform: scale(1.1);
}

#texte{
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 40px;
}

#titree{
    text-align: left;
    margin-left: 50px;
    color: black;
}

#teduscl{
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.textepy{
    background-color: rgb(221, 241, 240);
    margin-top: 50px;
    margin-bottom: 50px;
    height: 110vh;
    align-items: center;
    display: flex;
}