body {background-color: rgb(207, 235, 233);font-family: Arial}

h1 {font-size: xx-large; padding-top: 15px;padding-bottom: 15px} 
h2 {margin-right: 42%}
main img {position : absolute; margin-left :58%;width: 38%;margin-right : 1%}
header img {max-width: 30px;}
address{border-top:black;}
main div{position : absolute;margin-right: 42%;}
.droite {text-align: right}
.gauche {width: 30px}

/*cursor: pointer;min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);*/
.interieur {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  min-width: 60px;
}
.main {cursor: pointer}
.interieur a {
  display: block;
  border-bottom : solid;

}
.image:hover { width: 40%;}
.tout:hover .interieur {
  display: block;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Barre fixe */
.barrehaut {
  z-index: 1000;
  position: sticky;   
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(64, 141, 122);
  justify-content: space-around;
  display : flex;
  align-items: center; 
}

main {
  margin-top: 70px;
}