/*/////////// partie concernant le menu deroulant //////////*/
.interieur {
  display: none;
  position: absolute;
  box-shadow: 0 16px 20px rgba(0,0,0,0.2);
  min-width: 200px;
  font-size: x-large;
  text-align: center;
  cursor: pointer;
}
button {border: none;background: transparent;}
.main {cursor: pointer}
.interieur a {
  display: block;
  border-bottom : solid 1pt;
  text-decoration: none;
  color: black;
  position: relative;
  margin-top: 15px;
  transition: 0.3s ease;
}

.interieur :hover{
  color: white;
  border-bottom: white solid 3pt;
}
.tout:hover .interieur {
  display: block;
}
/*/////////// fin partie concernant le menu deroulant //////////*/

/*/////////// partie concernant les paragraphes //////////*/
.structure img{max-width: 38%;
  min-width: 35%;
  width: auto;
  transition: transform 0.4s, box-shadow 0.4s;
  border-radius: 15% 5%;
  }
.structure img:hover{
  transform: scale(1.05) rotate(0.5deg);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.structure {display : flex; 
  justify-content: space-around; 
  align-items: center;
  max-width: 96vw;margin-bottom: 50px;}

.texte  {display: grid;
  min-width: 60%;}
.debut h2 {font-size: 3vw;}
.debut p {font-size: 1.6vw;}
.texte p {text-align : justify;
   margin-right: 20px;font-size: 1.6vw;}
.texte ul {text-align : justify;
   margin-right: 20px;font-size: 1.6vw;}
.image:hover {transform: scale(1.05);}

.texte h2 {font-size: 2.2vw;}

.sansimage {display: block;margin-bottom: 50px;}

.sansimage h2 {
  text-align: center;
  font-size: 2.8vw;
  margin-bottom: 10px;
}
.sansimage p {
  text-align: center;
  font-size: 1.6vw;
}
body {background: url(fond.png);
  font-family: Arial, sans-serif; 
  background-attachment: fixed;
  inset: 0;
  background-size: cover;
}
main {
  padding-top: 70px;
  padding-left: 3%;
  padding-right: 3%;
}


/*/////////// fin partie concernant les paragraphes //////////*/

/*///////////partie machine à écrire //////////*/

#titre{
    border-right: 3px solid black;
    padding-right: 5px;
    display: inline-block;
}

/*///////////fin partie machine à écrire //////////*/

/*//////////////// partie barre fixe ////////////////////*/
.barrehaut {
  z-index: 1000;
  position: sticky;   
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(#359C89,#2A7A6B);
  justify-content: space-around;
  display : flex;
  align-items: center; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.progress_bar {
  height: 5px;
  background: #1E574D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
header img {max-height: 30px;}
header h1 {font-size: xx-large; padding-top: 15px;padding-bottom: 15px} 
/*//////////////// fin partie barre fixe ////////////////////*/

/*///////// partie quizz //////////////////////////////////*/


.question {
  background: white;
  padding: 20px;
  margin-bottom: 45px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: transform 0.2s;
  display: flex;
  justify-content: space-around;
}
.question:hover {
  transform: scale(1.01);
}

main button {
    padding: 15px 25px;
    border: none;
    background: linear-gradient(90deg,#2A7A6B,#1E574D);
    color: white;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

main button:hover {transform: scale(1.05);}
main button:active {transform : scale(1.1)}
input[type="radio"] {
    display: none;}
label {
    display: block;
    padding: 12px 15px;
    margin: 13px 0;
    border-radius: 8px;
    border: 2px solid #2A7A6B;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
     box-shadow: 0 4px 10px rgba(0,0,0,0.3);
     font-size: 18px;
     text-align: center;
}
label:hover {
    background-color: #CAEDE6;
    transform: scale(1.02);
}
input[type="radio"]:checked + label {
    background-color: #359C89;
    color: white;
    border-color: #359C89;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
form p {font-weight: bold;font-size: 25px;min-width: 62%;min-height: 20px;}
#resultatSPE {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(90deg,#C452A0,#C47652);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
/*///////// fin partie quizz //////////////////////////////////*/

/*///////// partie pied de page //////////////////////////////////*/
.montagne img{
    width: 100%;
    display: block;
}

footer{
    background: #12352f;
    color: white;
    padding: 40px 20px 20px 20px;
}

.contenu{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contenu div{
    display: grid;
    
}

footer h3{
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: #8fd6c7;
    margin-bottom: 5px;
    transition: 0.3s;
}

 a:hover{
    color: white;
}

.copyright{
    text-align: center;
    margin-top: 30px;
    opacity: 0.7;
    font-size: 14px;
}
/*///////// fin partie pied de page //////////////////////////////////*/

/*///////// partie cookies //////////////////////////////////*/
#cookie-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.cookie-box{
    background: white;
    padding: 30px;
    border-radius: 15px;

    text-align: center;

    width: 350px;

    animation: popup 0.5s ease;
}

.cookie-box h2{
    margin-bottom: 10px;
}

.cookie-box p{
    margin-bottom: 20px;
}

.cookie-box button{
    background: #0f2f2b;
    color: white;

    border: none;
    padding: 10px 20px;

    border-radius: 8px;
    cursor: pointer;

    transition: 0.3s;
}

.cookie-box button:hover{
    background: #1c4d47;
}

@keyframes popup{
    from{
        transform: scale(0.7);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}

/*///////// partie cookies //////////////////////////////////*/

/* autre interressant ///////////////

background: linear-gradient(135deg, #1e3c72, #2a5298);

*/
