/* style pour la presentation de python */

/* -------------------------------------------------------------- General ---- */

.parent {
    display: flex;
    flex-direction: row;
  }
  
.child {
    flex-grow: 1;
    flex-basis: 0;
    /* border: 1px solid #000; utilisé pour reperer des eventuels problèmes, en voyant les limites du div */ 
}

.textePy{
    font-size: 30px;
    text-align: center;
}

.primary {
    display: flex;
    background-color: white;
    width: 100%;
    height: 110vh;

}

.secondary {
    display: flex;
    background-color: rgb(221, 241, 240);
    height: 110vh;
    align-items: center;
}

/* -------------------------------------------------------------- 1er bloc ---- */

.miniTxt{
    padding-top: 16vh;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.presPy {
    padding: 15vh 10vw 25vh 13vw;
}


.imgPy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPy img{
    margin-right: 4vw;
    width: 20vw;
    height: auto;
    border-radius: 30px;
    transition: 0.2s;
}

.imgPy img:hover{
    transform: scale(1.1);
    border-radius: 5px;
}

/* -------------------------------------------------------------- bloc avec la liste ---- */

.presPy2 {
    padding: 3vh 10vw 6vh 13vw;
}

.listePy{
    font-size: 40px;
    line-height: 8vh;
    display: flex;
    text-align: center;
}

.listePy p{
    margin-left: 12vw;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4vh;
    border: 3px solid #000;
    border-radius: 20px;
    background-color: white;
}

.listePy p a{
    font-weight: 500;
    color: #333333;
    text-decoration: none;
}

.listePy p a:hover{
    color: #357c6e;
}
