body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


#topbar {
    background-color: #007BFF; 
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.headerImage {
    position: absolute;
    top: 30em;
    left: 2em;
    width: 5em; 
    height: auto;
}

#sidebar {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #0056b3; 
    padding-top: 20px;
}

#sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #004494;
}

#mainContent {
    margin-left: 220px;
    padding: 20px;
    padding-top: 80px; 
}
